



<div><%= card.question %></div>


  <form action="/responses_answers" method="POST">
    <input placeholder="answer" type="answer" name="game[answer]">
    <input class="login" type="submit" value="Submit Answer">
  </form>




