  <form action="/register" method="POST">
    <input placeholder="email" type="email" name="user[email]">
    <input class="goleft" placeholder="password" type="password" name="user[password]">
    <input class="login" type="submit" value="Register">
  </form>