<section class="centerwrap">
<%= @email %><hr> 
<h3>Here Are Your Scores </h3>
<% @rounds.each do |round| %>
  Deck: <%= round.deck.name %> <br>
  Round: <%= round.updated_at %><br> 
  Score: <%= round.score %></h4><hr>
<% end %>
</section>
