  <% if current_user%>
  <%=current_user.email%>
  <%end%>
  <h1> Choose Deck </h1>
  <form action="/game" method="POST"> 
  <% @decks.each do |deck| %>
    <input type="checkbox" name="params[<%= deck.name %>]" />
    <input type="submit" value="Play" />
  </form>
  <%end%>
